.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.description {
  padding:0 20px;
}

.dock-bottom {
  background-color:#cccccc85;
  padding:10px;
  border-top:1px solid #aaa;
}

h1 {
  color:#268de6;
  text-align:center;
}

.middle-row {
  flex-grow: 1;
  overflow-y: auto;
}

.center {
  max-width:800px;
  margin:auto;
}

.messages {
  padding:0;
}

.messages li {
  padding: 10px 10px;
  list-style-type: none;
}
.input-container {
  display: flex;
  justify-content: space-between;
  padding-bottom:20px;
}

.input-container input {
  padding:10px;
  margin:0;
}

button {
  margin-left:10px;
}

.messages .message {
  background-color:#eee;
  margin-bottom:3px;
}

.messages .message.message-well-done {
  background-color:#aaddaa;
}
.messages .message-from-server {
  background-color:#9dccf29e;
}
.apikey-description {
  padding-bottom:50px;
}

.error {
  background-color:#eaa;
  padding:20px;
  position:fixed;
  top:0;
  left:0;
  right:0;
}
